.link:link {
    color: red;
}

.link:visited {
    color: cyan;
}

.link:hover {
    color: white;
}

h1 {
    font-size: 50px;
}

.movie-title {
    color: red;
}

.year {
    margin-top: -30px;
    color: grey;
}

.details {
    padding: 30px 15vw;
}

.synopsis-image {
    width: 100vw;
    height: auto;
}

@media only screen and (max-width: 600px) {
    .synopsis-image img {
        object-fit: cover;
        height: 50vh;
        width: 100vw;
    }
}