img {
    width: 100%;
    height: 100%;
  }

.movie-cover {
    position: relative;
    overflow: hidden;
    margin: 10px;
  }
  
  .title-overlay {
    position: absolute;
    top: -100px;
    background-color: black;
    width: 100%;
    color: white;
    opacity: 0%;
  }

  .movie-cover:hover .title-overlay {
    opacity: 0.9;
    transform: translateY(100px);
    transition: ease 0.8s;
  }

@media only screen and (max-width: 600px) {
    .movie-cover {
        height: auto;
        width: 100%;
        }
}