.klogo {
    height: 50vh;
    width: auto;
    background-color: rgb(250, 0, 0, 0);
    position: relative;
    z-index: 1;
}

.gradient {
    height: 50vh;
    width: auto;
    position: absolute;
    z-index: 0;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}