* {
  background: #000000;
  color: white;
}

.App {
  text-align: center;
}

img {
  width: 100%;
  height: 100%;
}

.movie-rows {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(363px, 1fr));
}

.movie-cover {
  position: relative;
  overflow: hidden;
}

.movie-title {
  position: absolute;
  bottom: -100px;
  background-color: black;
  width: 100%;
  color: white;
  opacity: 0%;
}

.movie-cover:hover .movie-title {
  opacity: 0.85;
  transform: translateY(-100px);
  transition: ease 0.8s;
}

@media only screen and (max-width: 600px) {
  .movie-rows {
    display: grid;
    grid-template-columns: 1fr;

  }

  .movie-cover {
    height: auto;
    width: 100%;
  }
}