.App {
  text-align: center;
}

.movie-rows {
  max-width: 100vw;
  height: auto;
  display: flex;
}

.movie-cover {
  flex: 1;
  position: relative;
}

.movie-cover:hover .movie-title {
  opacity: 85%;
  transform: translateY(-30px);
  transition: 0.5s;
}

.movie-title {
  position: absolute;
  bottom: -30px;
  background-color: black;
  width: 100%;
  color: white;
  opacity: 0%;
}

img {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 600px) {
  .movie-rows {
    flex-direction: column;
  }

  .movie-cover {
    height: auto;
    width: 100%;
  }
}